<h1>Breakfast Recipes</h1>
<ul>
{{#each bfast}}
<li>{{name}}</li>
{{/each}}
</ul>
<ul>
    {{#each ing
    <li>{{name}}
        {{/each}}
    </li>
</ul>
<ul>
    {{#each toolsNeeded}}
    <li>{{name}}</li>
    {{/each}}
</ul>
<ul>
    {{#each instructs}}
    <li>{{name}}</li>
    {{/each}}
</ul>



