<h1>Register Here!</h1>

<form id="register" name="register" method="POST" action="/users/register">
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="text" name="password" required>
    </div>
    <div>
        <button type="submit">Get Cookin'</button>
    </div>
</form>
